@import "../../../globalStyles/scss/variables.scss";

.homePage {
  width: 100%;
  padding-bottom: 65px;
  .Contactbg{
    background-image: url("../../../images/Contactbg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 394px;
  }
  .ContactContent{
    display: flex;
    .ContactText{ 
    padding: 80px 0px 371px 60px;
    width: 45%;
      h3{
        font-weight: 700;
        margin-bottom: 24px;
        color: #fff;
        font-size: 48px;
      }
      p{
        color: #FFF;
        font-size: 18px;
      }
    }
    .ContactFrom{
      width: 55%;
      position: relative;
      .FormContent{
        width: 100%;
        position: absolute;
        top: 48px;
        .formTypography{
          background-color: #eff4f8eb;
          padding: 42px 50px 50px 32px;
          margin-bottom: 24px;
          border-radius: 8px;
          box-shadow: 3.178px 6.237px 23px #7090b04d;
          -webkit-box-shadow: 3.178px 6.237px 23px #7090b04d;
          .FormTitle{
            font-weight: 700;
            margin-bottom: 18px;
            color: #09253F;
            font-size: 32px;
          }
          .FormQuestion{
            font-weight: 700;
            margin-bottom: 18px;
            // font-size: 15px;
            color: #FBC73C;
            font-size: 18px;
            
          }
          .HelpText{
            color: #435365;
            font-size: 16px;
            line-height: 20px;
          }
          .FormLink{
            color: #647EDE;
            font-size: 14px;
          }
        }
        .lastBox{
          margin-bottom: 0px !important;
        }
      }
    }
  }
  h4 {
    font-weight: 600;

  }
}
.mt-20{
  margin-top: 20px;
}

// Add-Business
.Businessbg{
  background-image: url("../../../images/Contactbg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 370px;
  .addBusiness{
    display: flex;
    .BusinessContent{
      width: 55%;;
      .BusinessText{
        h3{
          font-weight: 700;
          font-size: 48px;
          line-height: 60px;
          margin-bottom: 25px;
        }
        color: #fff;
        padding: 100px 0px 220px 0px;
        
        }
      }
     
    }
    .SideBox{
      width: 75%;
      position: relative;
      margin-top: 15px;

      .SideBoxContent{
        position: absolute;
        right: 0;
        img{
          border-radius: 15px;
        }
        .mobile{
          position: absolute;
          right: 355px;
          top: 150px;
        }
      }
    }
  }
// Add-Business
.FormQuestion{
  font-weight: 700;
  margin-bottom: 18px;
  color: #FBC73C;
  font-size: 18px;
}
.JoinTitle{
  font-weight: 700;
  color: #09253F;
  margin: 18px 0px 32px;
  // padding: 0px 5px;
  font-size: 32px;
}
.JoinContent{
  display: flex;
  justify-content: space-between;
  margin-top: 30PX;
  
.joinBoxes{
  width: 30%;
  background-color: #eff4f8d4;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 3px 6px 40px #7090B04D;
  -webkit-box-shadow: 3px 6px 40px #7090B04D;
  text-align: center;
  .boxHeading{
    color: #09253F;
    margin-bottom: 16px;
    font-size: 18px;
  }
  .joinBoxestext{
    font-size: 14px;
    color: #8899A9;
    margin-top: 10px;
    line-height: 15px;
  }
  img{
    height: 60%;
    // width: 56%;
    // margin-bottom: 20px;
  }
}
}
// partner
  .partner{
    background-image: url("../../../images/Bluebg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: -120px;
    .partnerContent{
      padding: 295px 0px 200px;
      .partnerTitle{
        color: #fff;
        margin-bottom: 48px;
        font-weight: 700;
        font-size: 32px;
      }
      .partnerheading{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 18px;
        padding: 0px 8px;
      }
      .partnerList{
        margin-top: 20px;
        li{
          position: relative;
          margin-bottom: 8px;
          padding-left: 25px;
          color: #8899A9;
          font-size: 14px;
          img{
            position: absolute;
            left: 0;
            top: 1px;
            height: 16px;
            width: 16px;
          }
        }
      }
    }
  }
.ProfileText{
  font-size: 18px;
  color: #425364;
}
.WorkContent{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  background-color: #EAF0F5;
  border-radius: 5px;
  box-shadow: 3px 2px 5px #7090b02e;
  -webkit-box-shadow: 3px 2px 5px #7090b02e;
  
.joinBoxes{
  width: 30%;
  padding: 16px 20px;
  border-radius: 5px;
  text-align: center;
  .boxHeading{
    color: #09253F;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .joinBoxestext{
    font-size: 14px;
    color: #8899A9;
    margin-top: 10px;
    line-height: 15px;
  }
  img{
    width: 56%;
    // margin-bottom: 20px;
  }
}
}
// partner

// Contactus
  .Contactus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #F5A521 , #FAC73B);
    padding: 32px 48px;
    border-radius: 5px;
    margin: 107px 0px 0px;
    position: relative;
    .ContactusTitle{
      color: #fff;
      font-weight: 700;
      font-size: 28px;
    }
    .Contactbtn{
      background-color: #0A2540;
      color: #fff;
      padding: 8px 20px;
      border-radius: 21px;
      display: inline-block;
      svg{
        margin-left: 20px;
        vertical-align: middle;
      }
    }
  }
// Contactus

@media (max-width: 767px){
  .Contactus{
    .BusinessForm{
      display: block;
    }
   .BusinessBtns {
      position: initial !important;
  }
  }
  .small-text{
    display: none;
  }
  .homePage .ContactContent {
    display: initial;
}
.homePage .ContactContent .ContactText {
  padding: 45px 5px 350px 16px;
  // text-align: center;
  width: 100%;

// p{
  // font-size: 15px;
// }
h2{
  font-size: 27px;
}
}

.homePage .ContactContent .ContactFrom{
  width: 100%;
  .FormContent{
    width: 100%;
    top: -340px;
    padding: 35px 8px 5px 8px;
  }
} 
.homePage .ContactContent .ContactFrom .FormContent{
  .formTypography{

  .FormTitle{
    font-size: 18px;
  }
} 
}
.homePage .Contactbg{
  margin-bottom: 550px;
  background-size: 100% 100%;
}
// .homePage .ContactContent .ContactText h3{
  // font-size: 27px;
// }
.Businessbg{
    margin-bottom: 700px;
    background-size: 100% 100%;
  .addBusiness{
    
    display: initial;
    .BusinessContent{
      width: 100%;
      padding: 0px 16px;
      .BusinessForm {
        display: block;
      .BusinessBtns{
        position: initial;
      }
    }
  }
    .SideBox{
      width: 100%;
      top: -185px;
      margin-top: 0px;
      .SideBoxContent{
        text-align: center;
        // position: initial;
        .mobile{
          position: relative;
          right: 0;
          top: 0;
          width: 85%;
        }
        .food{
          margin-top: -80px;
          padding: 0px 5px;
        }
      }
    }
  }
}
.Businessbg .addBusiness .BusinessContent .BusinessText{
  padding: 40px 0px 220px 0px;
  h3{
  line-height: 35px;
}
}
.JoinContent, .WorkContent{
  display: inherit;
  .joinBoxes{
    width: 100%;
    margin-bottom: 30px;
  }
}
.partner{
  margin-top: -220px;
 .partnerContent {
  padding: 315px 5px 110px 5px;
}
}
.Contactus{
  display: inherit;
  padding: 25px 15px;
  .Contactbtn{
    margin-top: 20px;
  }
}
.partner .partnerContent .partnerList li{
  font-size: 14px;
  margin-bottom: 20px;
}
}

@media(max-width: 540px){
  .JoinBoxTypography{
    padding-left: 8px !important;
  }
  .partner{
    position: relative;
    z-index: 1;
  }
  .homePage .ContactContent .ContactText h3{
    font-size: 38px;
  }
  .homePage .ContactContent .ContactText p {
    margin-bottom: 21px;
  }
  .partner {
    margin-top: -150px;
    .partnerContent {
      padding: 315px 5px 160px 5px;
  }
}
  .Businessbg{
    margin-bottom: 270%;
  }
  .BusinessText{
    h3{
      line-height: 55px !important;
    }
  }
  .ContactusTitle{
    line-height: 35px;
  }
  .joinSitarri{
    padding: 0px 8px;
    margin-top: 100px;
  }
  .food{
    width: 100%;
    // position: relative;
  }
  .BusinessText h3{
    margin-bottom: 35px !important;
  }
  .joinTypography{
    padding: 0px 15px;
  }
  .BecomeTypography{
    padding: 0px 16px;
  }
  .partnerTitle{
    font-size: 33px !important;
    line-height: 40px;
  }
  .partnerList{
    padding: 0px 10px;
  }
}

@media (max-width: 480px){
  .partner{
    margin-top: -215px;
  .partnerContent {
      padding: 370px 5px 160px 5px;
  }
}
.Businessbg {
  margin-bottom: 260%;
}
.BusinessText h3{
  font-size: 40px !important;
  line-height: 50px !important;
}
  }
  @media (max-width: 375px){
    .Businessbg {
      margin-bottom: 255%;
    }  
    .BusinessText h3{
      font-size: 36px !important;
      line-height: 45px !important;
    }
  }
  @media (max-width: 320px){
    .joinSitarri{
      margin-top: 100px;
    }
    .partner{
      margin-top: -235px;
    .partnerContent {
        padding: 320px 5px 110px 5px;
    }
  }
  .Businessbg{
    margin-bottom: 255%;
  }
  .BusinessText h3{
    font-size: 30px !important;
    line-height: 38px !important;
  }
    }
    
@media (min-width: 768px) and (max-width: 992px){
  .homePage .ContactContent .ContactFrom .FormContent .formTypography .FormTitle{
    font-size: 22px;
  }
  .homePage .ContactContent .ContactText {
    padding: 40px 0px 70px 40px;
}
  .homePage .ContactContent .ContactFrom .FormContent{
    width: 90%;
}
.Businessbg{
  margin-bottom: 0px;
}
.Businessbg .addBusiness .BusinessContent .BusinessText {
    color: #fff;
    padding: 55px 0px 370px 0px;
    p{
      font-size: 18px;
    }
}
}
@media (min-width: 992px) and (max-width: 1024px){
  .homePage .ContactContent .ContactText {
    padding: 70px 0px 75px 55px;
}
.Businessbg .addBusiness .BusinessContent .BusinessText {
  padding: 100px 0px 230px 0px;
}
.Businessbg{
  margin-bottom: 0px;
}
}

.BusinessForm{
  position: relative;
  display: none;
  .BusinessBtns{
  position: absolute;
  top: -50px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  }
  .SignupBtn:focus, .SigninBtn:focus{
    outline: none;
  }
  .SignupBtn, .SigninBtn{
    text-align: center;
    padding: 10.5px 0px;
    display: block;
    border-radius: 50px;
    width: 45%;
    font-size: 16px;
    svg{
      margin-left: 20px;
    }
  }
  .SignupBtn{
    background-color: #0A2540;
    color: #fff;
  }
  .SigninBtn{
    color: #0A2540;
  }
}
.joinText{
  font-size: 14px;
  color: #435365;
}
@media(min-width: 1200px){
  .Businessbg{
    .container{
      width: 1366px;
    }
  }
}
.JoinBoxTypography{
  padding-left: 32px;
  position: relative;
}

.V-line, .BoxV-line, .FoodV-line, .workV-line, .workBoxV-line, .workFoodV-line, .ContactV-line, .ContactBoxV-line{
  position: relative;
}
@media(max-width:1920px){
  .V-line:before{
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 889px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -478px;
    left: -103px;
  } 
  .V-line:after{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 845px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -474px;
    left: 268px;
}
  .BoxV-line:after{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 800px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -472px;
    left: 271px;
  }
  .FoodV-line:after{
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 609px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -319px;
    left: 232px;
  }
  .workV-line:before{
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 754px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -199px;
    left: -101px;
  }
  .workV-line:after{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 291px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 263px;
    left: 268px;
  }
  .workBoxV-line::after{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 291px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 263px;
    left: 268px;
}
.BgLine1{
  content: '';
    border-right: 1px dashed #E7E9EF;
    height: 238px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -82px;
    left: 268px;
}
.BgLine2{
  content: '';
    border-right: 1px dashed #E7E9EF;
    height: 282px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -125px;
    left: 656px;
}
  }
  .workFoodV-line:after{
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 804px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -249px;
    left: 232px;
  }
  .ContactV-line:before{
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 527px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 481px;
    left: 75px;
  }
  .ContactV-line:after{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 479px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 529px;
    left: 430px;
  }
  .ContactBoxV-line:before{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 479px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 529px;
    left: 817px;
  }
  .ContactBoxV-line:after{
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 527px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 481px;
    left: 1166px;
  }
  @media(max-width: 1680px){
    .workV-line:before {
      content: '';
      border-right: 1px solid #E7E9EF;
      height: 744px;
      width: 1px;
      display: inline-block;
      margin-left: 100px;
      position: absolute;
      top: -189px;
      left: -101px;
  }
  .BgLine1 {
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 229px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -72px;
    left: 268px;
}
.BgLine2 {
  content: '';
  border-right: 1px dashed #E7E9EF;
  height: 272px;
  width: 1px;
  display: inline-block;
  margin-left: 100px;
  position: absolute;
  top: -115px;
  left: 656px;
}
.workFoodV-line:after {
  content: '';
  border-right: 1px solid #E7E9EF;
  height: 864px;
  width: 1px;
  display: inline-block;
  margin-left: 100px;
  position: absolute;
  top: -309px;
  left: 232px;
}
  }
  @media(max-width: 1600px){
    .workV-line:before {
      content: '';
      border-right: 1px solid #E7E9EF;
      height: 740px;
      width: 1px;
      display: inline-block;
      margin-left: 100px;
      position: absolute;
      top: -185px;
      left: -101px;
  }
  .workFoodV-line:after {
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 861px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -305px;
    left: 232px;
}
.BgLine2 {
  content: '';
  border-right: 1px dashed #E7E9EF;
  height: 268px;
  width: 1px;
  display: inline-block;
  margin-left: 100px;
  position: absolute;
  top: -111px;
  left: 656px;
}
.BgLine1 {
  content: '';
  border-right: 1px dashed #E7E9EF;
  height: 225px;
  width: 1px;
  display: inline-block;
  margin-left: 100px;
  position: absolute;
  top: -68px;
  left: 268px;
}
.V-line:before {
  content: '';
  border-right: 1px solid #E7E9EF;
  height: 926px;
  width: 1px;
  display: inline-block;
  margin-left: 100px;
  position: absolute;
  top: -498px;
  left: -103px;
}
  }
@media(max-width: 1536px){
  .workFoodV-line:after {
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 856px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -301px;
    left: 232px;
}
.V-line:before {
  content: '';
  border-right: 1px solid #E7E9EF;
  height: 938px;
  width: 1px;
  display: inline-block;
  margin-left: 100px;
  position: absolute;
  top: -506px;
  left: -103px;
}
  .workV-line:before {
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 738px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -182px;
    left: -101px;
}
  .BgLine1{
    content: '';
      border-right: 1px dashed #E7E9EF;   
    height: 222px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -65px;
    left: 268px;

  }
  .BgLine2{
    content: '';
      border-right: 1px dashed #E7E9EF;
      height: 268px;
      width: 1px;
      display: inline-block;
      margin-left: 100px;
      position: absolute;
      top: -111px;
      left: 656px;
  }
}
@media(max-width:1440px){
  .BgLine1{
    content: '';
      border-right: 1px dashed #E7E9EF;
      height: 215px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -58px;
    left: 268px;
  }
  .BgLine2{
    content: '';
      border-right: 1px dashed #E7E9EF;
      height: 256px;
      width: 1px;
      display: inline-block;
      margin-left: 100px;
      position: absolute;
      top: -100px;
      left: 656px;
  }
  .ContactV-line:before{
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 527px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 481px;
    left: 75px;
  }
  .ContactV-line:after{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 479px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 529px;
    left: 430px;
  }
  .ContactBoxV-line:before{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 479px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 529px;
    left: 817px;
  }
  .ContactBoxV-line:after{
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 527px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 481px;
    left: 1166px;
  }
  .V-line:before{
    content: '';
      border-right: 1px solid #E7E9EF;
      height: 958px;
      width: 1px;
      display: inline-block;
      margin-left: 100px;
      position: absolute;
      top: -525px;
      left: -103px;
  }
  .V-line:after{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 860px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -469px;
    left: 268px;
  }
  .BoxV-line:after{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 822px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -472px;
    left: 271px;
  }
  .FoodV-line:after{
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 632px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -319px;
    left: 232px;
  }
  .workV-line:before{
    content: '';
      border-right: 1px solid #E7E9EF;
      height: 729px;
      width: 1px;
      display: inline-block;
      margin-left: 100px;
      position: absolute;
      top: -174px;
      left: -101px;
  }
  .workV-line:after{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 293px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 262px;
    left: 268px;
  }
  .workBoxV-line::after{
    content: '';
    border-right: 1px dashed #E7E9EF;
    height: 293px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 262px;
    left: 268px;
  }
  .workFoodV-line:after{
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 852px;
    width: 1px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: -296px;
    left: 232px;

  }
}
// .homePage .container{
//   max-width: 1316px;
// }
@media(min-width: 767px){
  .mobile{
    z-index: 1;
  }
  .MblVerticalLine1{
    display: none;
  }
}
@media(max-width:540px){
  .workFoodV-line:after, .workBoxV-line::after, .workV-line:after, .workV-line:before, .ContactV-line:before, .ContactV-line:after, .ContactBoxV-line:before, .ContactBoxV-line:after, .V-line:before, .V-line:after, .BoxV-line:after, .FoodV-line:after{
    display: none
  }
  .BgLine1, .BgLine2{
    display: none
  }
  
}
@media(max-width:475px){
  .MblVerticalLine1{
    display: block !important;
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 4845px;
    width: 1px;
    display: inline-block;
    margin-left: 8px;
    position: absolute;
    top: 425px;
    // left: -101px;
  }
  .MblVerticalLine2{
    display: block !important;
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 4895px;
    width: 1px;
    display: inline-block;
    margin-left: 8px;
    position: absolute;
    top: 375px;
    right: 8px;
  }
}
@media(max-width:425px){
   .WorkContent{
    position: relative;
  }
  .WorkContent:after{
    position: absolute;
    content: '';
    border-bottom: 1px solid #E7E9EF;
    /* height: 0px; */
    width: 425px;
    right: -8px;
    /* top: 80%; */
    bottom: -30px;
    z-index: 1;
  }
  .MblVerticalLine1{
    display: block !important;
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 4695px;
    width: 1px;
    display: inline-block;
    margin-left: 8px;
    position: absolute;
    top: 445px;
}
    // left: -101px;
  .MblVerticalLine2{
    display: block !important;
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 4744px;
    width: 1px;
    display: inline-block;
    margin-left: 8px;
    position: absolute;
    top: 396px;
    right: 8px;
  }
}
@media(max-width:375px){
  .WorkContent{
    position: relative;
  }
  .WorkContent:after{
    position: absolute;
    content: '';
    border-bottom: 1px solid #E7E9EF;
    /* height: 0px; */
    width: 375px;
    right: -8px;
    /* top: 80%; */
    bottom: -30px;
    z-index: 1;
}
  .MblVerticalLine1{
    display: block !important;
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 4481px;
    width: 1px;
    display: inline-block;
    margin-left: 8px;
    position: absolute;
    top: 504px;
    // left: -101px;
  }
  .MblVerticalLine2{
    display: block !important;
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 4537px;
    width: 1px;
    display: inline-block;
    margin-left: 8px;
    position: absolute;
    top: 448px;
    right: 8px;
  }
}

@media(max-width:320px){
  .WorkContent{
    position: relative;
  }
  .WorkContent:after{
    
    position: absolute;
    content: '';
    border-bottom: 1px solid #E7E9EF;
    /* height: 0px; */
    width: 320px;
    padding: 45px;
    right: -8px;
    /* top: 80%; */
    bottom: -30px;
    z-index: 1;
  }
  .MblVerticalLine1{
    display: block !important;
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 4260px;
    
    width: 1px;
    display: inline-block;
    margin-left: 8px;
    position: absolute;
    top: 529px;
    // left: -101px;
  }
  .MblVerticalLine2{
    display: block !important;
    content: '';
    border-right: 1px solid #E7E9EF;
    height: 4334px;
    width: 1px;
    display: inline-block;
    margin-left: 8px;
    position: absolute;
    top: 455px;
    right: 8px;
    // left: -101px;
  }
}
