@import "../../../globalStyles/scss/variables.scss";

.s-products-featured {
  padding: 0 0 2rem;

  h3 {
    font-weight: 400;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    font-size: 32px;
    color: #000;
  }

  .pro-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .modalDiv {
    color: $base-font-color;
    display: inline-block;
    // max-width: 255px;
    text-decoration: none;
    width: 48%;
  }
  .modalDiv:nth-child(even) {
    margin: 0 0 2rem 0 !important;
  }
  .modalDiv:nth-child(odd) {
    margin: 0 1rem 2rem 0 !important;
  }
  @media(max-width: $small-screen){
    .modalDiv {
      width: 47%;
    }
    h3 {
      margin-top: 0 ;
      margin-bottom: 1rem ;
      font-size: 18px;
    }
  }
}
