@import "../../../globalStyles/scss/variables.scss";
.s-products-featured {
  padding: 0 0 2rem;
  h3 {
    font-weight: 400;
    margin: 2.6rem 0 3rem;
    font-size: 32px;
    color: #2b445a;
  }
  .pro-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .modalDiv {
    color: $base-font-color;
    display: inline-block;
    // max-width: 255px;
    text-decoration: none;
    width: 39%;
    cursor: pointer;
  }
  .modalDiv:nth-child(even) {
    margin: 0 0 3rem 0 !important;
  }
  .modalDiv:nth-child(odd) {
    margin: 0 1rem 3rem 0 !important;
  }
  @media (max-width:768px) {
    .modalDiv {
      width: 100%;
    }
  }
  @media(max-width: $small-screen){
    .modalDiv {
      width: 20%;
    }
    .modalDiv:nth-child(even) {
      margin: unset !important;
    }
    .modalDiv:nth-child(odd) {
      margin: unset !important;
    }
    .modalDiv:nth-child(4) {
      margin: 0 0 1rem 0 !important;
    }
    h3 {
      margin-top: 0 ;
      margin-bottom: 1rem ;
      font-size: 18px;
    }
  }
}
