@import "../../../globalStyles/scss/variables.scss";

.side-nav {
  $item-height: 3.55rem;
  width: 30%;
    background-color: #fafafa;
    transition: 0.5s linear;
    right: 0 !important;
    position: absolute;

  .menu-list{
    min-height: 100vh;
    padding: 0px 25px 0px 10px;
    // overflow-y: scroll;
    // margin: 1rem;
    // position: relative;
  }
  .regBtn{
    background-color: #092540 !important;
    padding: 1rem !important;
    border-radius: 4px;
    text-transform: none !important;
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px;
    width: 100%;
    span{
      display: block;
      text-align: center;
      transform: none;
      text-transform: capitalize;
      width: 100%;
      font-size: 15px !important;
    }
  }
  .bcBtn{
    width: 100%;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #cccccc78;
    box-shadow: none !important;
    margin: 0 0 1rem;
    span{
      color: #414141;
      text-transform: capitalize;
      font-weight: 400;
    }
  }

  .loBtn{
    min-width: 260px;
    display: block;
    margin: 0 auto 1rem;
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    button{
      width: 100%;
      border-radius: 4px;
      background: #fff;
      border: 1px solid #cccccc78;
      box-shadow: none !important;
      span{
        color: #e53e3b;
        text-transform: capitalize;
        font-weight: 400;
      }
    }
  }

  &__menu-item {
    border-bottom: 1px solid $gray-light;
    display: grid;
    height: $item-height;

    &-link{
      align-items: center;
      width: 100%;
      border-radius: 4px;
      background: #f74b2c;
      color: #fff;
      display: flex;
      text-align: center;
      justify-content: center;
      font-weight: 400;
      padding: 0.9rem $spacer;
      text-decoration: none;
      text-transform: capitalize;
      transition: 0.3s;
      margin:  0 0 1rem;
    }
    &-back span {
      align-items: center;
      color: $base-font-color;
      display: flex;
      font-weight: 600;
      padding: $spacer;
      text-decoration: none;
      text-transform: capitalize;
      transition: 0.3s;

      svg * {
        fill: currentColor;
      }
    }

    &-logo {
      align-self: center;
      padding: 0 $spacer;

      img {
        margin: -3px 0 0;
      }
    }

    &-link,
    &-more,
    &-back,
    &-close {
      transition: 0.3s;

      &:hover {
        color: $turquoise;
      }

      svg * {
        fill: currentColor;
      }
    }

    &-close,
    &-more,
    &-back {
      &:hover {
        cursor: pointer;
      }
    }

    &-more {
      align-self: center;
      padding: 1.25rem 1.75rem;
    }

    &-back {
      svg {
        margin-right: 1rem;
      }
    }

    &-close {
      align-items: center;
      display: flex;
      height: $item-height;
      justify-content: center;
      position: relative;
      .lineOne {
        transform: rotate(45deg);
      }
      .lineTwo {
        transform: rotate(-45deg);
      }
      span {
        background-color: #ff4807;
        border-radius: 1px;
        height: 3px;
        width: 24px;
        position: absolute;
      }

      &:hover {
        color: $turquoise;
      }
    }

    &--has-subnavigation,
    &--parent {
      grid-template-columns: 1fr $item-height;
    }

    &--parent {
      color: $gray;
      background: #fff;

      a {
        color: inherit;
      }
    }
  }
  @media (max-width:768px){
    width: 100%;
  }
  .menu-list{
    min-height: 100vh;
    padding: 0px 10px 0px 10px;
    // overflow-y: scroll;
    // margin: 1rem;
    // position: relative;
  }
}
