@import "../../../../globalStyles/scss/variables.scss";

$drawer-width: 25rem;

.search {
  width: 100vw;

  @media (min-width: $medium-screen) {
    width: $drawer-width;
  }

  &--has-results {
    min-height: 100vh;
  }

  &__input {
    .input__icon-right {
      svg * {
        fill: $turquoise;
      }
    }

    .input__icon-left {
      svg * {
        fill: $base-font-color;
      }
    }

    .input__field {
      background-color: $turquoise-light;
      border: none;
      box-shadow: none;
      padding-bottom: 1.2rem;
      padding-top: 1.25rem;
      width: 100%;

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        text-transform: uppercase;
        font-size: $base-font-size;
        color: $black;
      }
    }
  }

  &__products {
    background: $white;
    overflow: auto;
    padding: $spacer / 2 0;
    position: relative;
    right: 0;
    transition: 300ms;
    height: calc(100vh - 3rem);

    @media (min-width: $medium-screen) {
      right: -$drawer-width;
    }

    &--expanded {
      right: 0;
    }

    &--not-found {
      padding: 14px;
    }

    &__item {
      padding: $spacer / 2 $spacer;

      img {
        width: 3.6rem;
        height: 3.6rem;
        display: inline-block;
        margin-right: $spacer;
        vertical-align: top;
      }

      span {
        display: inline-block;
        width: calc(100% - 4.6rem);
      }

      h4 {
        text-transform: uppercase;
        font-weight: $bold-font-weight;
        padding: $spacer / 4 0;
        color: $base-font-color;
      }

      p {
        color: $gray;
      }

      &:hover {
        background-color: $gray-light;
      }

      ul {
        max-height: calc(100vh - 9rem);
      }
    }

    &__footer {
      position: fixed;
      bottom: 0px;
      border-top: 1px solid $gray-light;
      text-align: center;
      padding: $spacer 0;
      background-color: $white;
      width: 100vw;

      @media (min-width: $medium-screen) {
        width: 25rem;
      }
    }
  }
}

.MobileSearchBar{
  .searchfield{
    background-color: #fff;
    padding: 20px 0px 8px;
  }
}
.MobileSearchBar .overlay__right{
  background-color: rgb(252,252,253) !important;
  height: 100vh !important;
  width: 100vw;
}
.MobileSearchBar .overlay__right input{
  height: 49px;
  width: 95%;
  margin: 0px auto;
  display: table;
  // margin-top: 20px;
  position: relative;
  background-color: #F5F5F5;
  border: none;
  border-radius: 3px;
  padding: 3px 0px 3px 40px;
}
.MobileSearchBar .overlay__right input:focus{
  border: none;
  outline: none;
}
.MobileSearchBar .overlay__right input::placeholder{
  color: #99A9B3;
}
.MobileSearchBar .overlay__right .searchicon{
  position: absolute;
  top: 33px;
  right: 20px;
  svg{
    width: 14px;
    path{
      fill: #000
    }
  }
}
.MobileSearchBar .searchedlist{
  width: 95%;
  display: block;
  margin: 0px auto;
   .items{
  border-bottom: 1px solid #FAFAFA;
  padding: 10px 4px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  .ShopAddress{
  p{
    font-size: 14px;
    color: #435365;
  }
}
}
}

.MobileSearchBar {
  .SearchLocation{
    display: flex;
    align-items: center;
    background: #FDECD1;
    border-radius: 3px;
    padding: 0px 2px;
    // width: 28%;
    justify-content: center;
    svg{
      width: 10px;
      margin-right: 3px;
      path{
        fill: #FF9922;
      }
    }
    div{
    p{
      font-size: 10px !important;
      color: #FF9922 !important;
    }
  }
  }
  .ShopAddress{
    // width: 100%;
    display: flex;
    justify-content: space-between;
    >p{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 150px;
        word-wrap: break-word;
    }
    
  }
  .shop-address{
    p{
      color: #B9C4CC !important;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 70%;
      word-wrap: break-word;
    }
  }
  .SearchDropdown{
    background-color: #fff;
    overflow-y: scroll;
    height: 100vh;
    padding: 0px 5px;
    margin-top: 8px;
  }
  .SearchDropdown::-webkit-scrollbar{
    display: none;
  }
  .NoResults{
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding: 10px 10px;
    background-color: #fff;
    li:first-child{
      margin-right: 10px;
      span{
        height: 25px;
        width: 25px;
        background-color: #FFD5D5;
        line-height: 0;
        display: inline-block;
        line-height: 31px;
        text-align: center;
        border-radius: 50px;
      }
    svg{
      width: 12px;
      path{
        fill: #FF2F2D;
      }
    }
  }
  li:last-child{
    font-size: 14px;
    color: #435365;
    span{
      font-weight: 700;
      color: #435365;
      
    }
    li{
      font-size: 14px;
      color: #8899A9;
      margin-top: 5px;
    }
  }
  }
  .loaderIcon{
    position: absolute;
    top: 34px;
    left: 20px;
  }
  .BackArrow{
    position: absolute;
    top: 37px;
    left: 15px;
  }
  .CloseIcon{
    position: absolute;
    top: 38px;
    right: 20px;  
      path{
        fill: #40464A;
      }
  }
}
