@import "../../../globalStyles/scss/variables.scss";

#header {
  -webkit-box-shadow: 0px 2px 9px -4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 2px 9px -4px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 2px 9px -4px rgba(0, 0, 0, 0.45);
  position: relative;
  background: white;
}

.main-menu {
  align-items: center;
  align-items: stretch;
  background-color: $white;
  // border-bottom: 1px solid $gray-light;
  display: flex;
  flex-direction: row;
  height: 3.55rem;
  position: relative;

  &__left {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__backIcon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    svg {
      path:last-child {
        fill: #f34928
      }
    }
  }

  &__right {
    // width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    @media (min-width: $medium-screen) {
      width: 7%;
    }
  }

  &__center {
    align-self: center;
    width: 80%;
    position: relative;
    padding: 0 1rem;
    @media (min-width: $medium-screen) {
      width: 80%;
      padding: 0 2rem;
    }
    .SearchLocation{
      display: flex;
      align-items: center;
      background: #FDECD1;
      border-radius: 3px;
      padding: 0px 2px;
      width: 35%;
      height: 26px;
      justify-content: center;
      svg{
        width: 10px;
        margin-right: 3px;
        path{
          fill: #F39721;
        }
      }
      div{
      p{
        font-size: 10px !important;
        color: #F39721 !important;
      }
    }
    }
    .ShopAddress{
      width: 65%;
      >p{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 150px;
          word-wrap: break-word;
      }
      .shop-address{
        p{
          color: #B9C4CC !important;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 70%;
          word-wrap: break-word;
        }
      }
    }
    .SearchDropdown{
      background-color: #fff;
      overflow-y: scroll;
      max-height: 300px;
      border-bottom: 1px solid #ddd;
    }
    .NoResults{
      display: flex;
      align-items: center;
      margin-top: 20px;
      padding: 0px 10px;
      li:first-child{
        margin-right: 10px;
        span{
          height: 25px;
          width: 25px;
          background-color: #F8D4D5;
          line-height: 0;
          display: inline-block;
          line-height: 31px;
          text-align: center;
          border-radius: 50px;
        }
      svg{
        width: 12px;
        path{
          fill: #ED6E70;
        }
      }
    }
    li:last-child{
      font-size: 14px;
      span{
        font-weight: 700;
      }
      li{
        font-size: 12px;
        color: #B9C4CC;
      }
    }
    }
    .loaderIcon{
      position: absolute;
      top: 0px;
      left: 20px;
      z-index: 999999;
    }
    // .BackArrow{
    //   position: absolute;
    //   top: 35px;
    //   left: 15px;
    // }
    .CloseIcon{
      position: absolute;
      cursor: pointer;
      top: 14px;
      right: -16px;  
        path{
          fill: #40464A;
        }
    }
    .searchedlist {
      // padding: 0px 0px 0px 16px;
      max-height: 185px;
      // overflow-y: auto;
      background: #fff;
      position: absolute;
      width: 92.7%;
      z-index: 1;
      margin-top: -4px;
      .textAlign {
        padding: 1rem;
        text-align: center;
      }
      .items {
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        width: 100%;
        display: flex;
        padding: 5px 10px;
        cursor: pointer;
        p {
          cursor: pointer;
          line-height: 23px;
          font-size: 13px;
        }
      }
      .items:hover {
        background: #fafafa;
      }
      .items:last-child {
        border-bottom: 1px solid #ddd;
      }
    }

    .searchfield {
      width: 100%;
      position: relative;
      .searchicon {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 35px;
        svg {
          fill: #6c6d6d;
          path {
            fill: #6c6d6d;
          }
        }
      }
      .form-control {
        width: 100%;
        padding: 0.7rem 1rem;
        border-radius: 5px;
        outline: none;
        border: 1px solid #ddd;
        background: #f5f5f5;
      }
    }

    svg {
      width: 4rem;

      @media (min-width: $small-screen) {
        width: 6rem;
      }
    }
  }

  @media (max-width: 992px) {
    &__left {
      width: 140px;
    }

    &__right {
      // width: 15%;
      justify-content: flex-end;
    }
    &__center {
      width: 100%;
      padding-right: 0rem;
    }
  }
  @media (max-width: 575px) {
    &__left {
      width: 140px;
      // display: none;
    }

    // &__right {
    //   width: 73%;
    // }
    // &__center {
    //   display: none;
    // }
  }

  &__item {
    font-weight: $bold-font-weight;
    height: 100%;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $base-font-color;
      position: relative;
      transition: 0.3s;

      &:hover {
        color: $turquoise;
      }
    }
  }

  &__hamburger {
    // border-left: 1px solid $gray-light;
    cursor: pointer;
    padding: $spacer 0 $spacer $spacer;

    &--hover {
      display: none;
    }

    &:hover {
      // .main-menu__hamburger--icon {
      //   display: none;
      // }

      // .main-menu__hamburger--hover {
      //   display: block;
      // }
    }

    svg {
      vertical-align: bottom;
      path {
        fill: #fd4b01;
      }
    }
  }

  &__item,
  &__hamburger {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    padding: 0 $spacer;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // width: 100%;
    div {
      width: 24px;
    }
    span {
      padding: 0 8px;
      width: 85%;
      font-size: 12px;
      text-transform: capitalize;
    }
    .ad {
      transform: rotate(-90deg);
    }
    svg * {
      transition: 0.3s;
    }

    &:hover {
      svg * {
        fill: #f34928;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__cart {
    position: relative;

    &__quantity {
      position: absolute;
      top: -0.3rem;
      right: 0.6rem;
      background-color: $blue;
      border-radius: 1rem;
      padding: 0 0.3rem;
      min-width: 1rem;
      height: 1rem;
      color: $white;
      font-size: $small-font-size;
      text-align: center;
      line-height: 1rem;
      transition: 0.3s;
    }
  }
  @media (max-width: $medium-screen) {
    .menu-dropdown {
      display: none;
    }
    .main-menu__icon {
      display: none;
    }
  }
  &__user {
    &--active * {
      fill: #f34928;
      fill-rule: inherit;
    }
  }
  .border {
    border: 1px solid #ddd;
    padding: 0.5rem;
    border-radius: 4px;
    &:hover{
      svg * {
        fill: black;
      }
    }
  }

  @media (max-width: $medium-screen) {
    .border {
      display: none;
    }
  }
  &__dropdown {
    text-transform: uppercase;
    font-weight: $bold-font-weight;

    li {
      cursor: pointer;
      margin: 0 auto;

      &:hover {
        color: $gray;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $gray-light;
      }
    }
  }

  &__offline {
    line-height: 24px;
    padding: $spacer;

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      vertical-align: bottom;
    }
  }

  &__search {
    padding: $spacer;
    cursor: pointer;
    line-height: 24px;
    transition: 0.3s;

    @media (min-width: $medium-screen) {
      border-left: 1px solid $gray-light;
    }

    svg * {
      transition: 0.3s;
    }

    &:hover {
      color: $turquoise;
      svg * {
        fill: $turquoise;
      }
    }

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-right: $spacer;
    }

    div {
      display: inline-block;
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__nav-dropdown {
    padding: 0 1.5rem;

    &--active {
      background-color: $turquoise-light;
    }

    & > li:first-child {
      text-align: center;
    }

    &__body {
      background: $white;
      border-top-color: $gray-light;
      border-top-style: solid;
      border-top-width: 1px;
      display: none;
      left: 0;
      padding: 2rem;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 3;

      &--visible {
        display: block;
      }

      li *,
      ul * {
        display: block !important;
      }

      > ul > li {
        align-self: flex-start;
        margin-left: 2rem;
        position: relative;
        width: 188px;

        // 2nd level name
        > a {
          font-size: $base-font-size;
          position: relative;
          text-transform: uppercase;
          padding-bottom: 9px;
          margin-bottom: 3px;
        }
        > ul > li:first-child {
          position: relative;

          &:before {
            background-color: $turquoise-light;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: -3px;
            width: 100%;
          }
        }

        ul {
          // 3rd+ level names
          a {
            font-size: $small-font-size;
            font-weight: normal;
            padding: 6px 0;
            text-transform: capitalize;
          }

          li > ul {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
