@import "../../../globalStyles/scss/variables.scss";

.carousel {
  &__control {
    padding: $carousel-control-padding;
    background-color: $white;
    border-radius: 25px;
    // box-shadow: $carousel-control-shadow;
    // -webkit-box-shadow: $carousel-control-shadow;
    box-shadow: 0px 3px 6px #0000000D;
    -webkit-box-shadow: 0px 3px 6px #0000000D;

    &:hover {
      cursor: pointer;
    }

    &--right {
      margin-right: 0;

      // @media (max-width: $container-width) {
      //   margin-right: -0.5rem;
      // }

      svg {
        transform: rotate(180deg);
        margin-top: 12px;
        width: 15px;
        margin-left: 12px;
        path {
          fill: #FF4B13
        }
      }
    }

    &--left {
      margin-left: 0;
      height: 48px;
      width: 48px;

      // @media (max-width: $container-width) {
      //   margin-left: -0.5rem;
      // }

      svg {
        margin-top: 9px;
        width: 15px;
        margin-left: -10px;
        path {
          fill: #FF4B13
        }
      }
    }
  }

  @media(max-width:540px){
    &__control {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .slider-slide {
    text-align: center;
  }
}
