@import "../../../globalStyles/scss/variables.scss";

.carousel {
  &__control {
    padding: $carousel-control-padding;
    background-color: $white;
    border-radius: 25px;
    box-shadow: $carousel-control-shadow;

    &:hover {
      cursor: pointer;
    }

    &--right {
      margin-right: 0;

      // @media (max-width: $container-width) {
      //   margin-right: -0.5rem;
      // }

      svg {
        transform: rotate(180deg);
        margin-top: 0.5rem;
        path {
          fill: #f34928
        }
      }
    }

    &--left {
      margin-left: 0;

      // @media (max-width: $container-width) {
      //   margin-left: -0.5rem;
      // }

      svg {
        margin-top: 0.4rem;
        path {
          fill: #f34928
        }
      }
    }
  }

  @media(max-width:540px){
    &__control {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .slider-slide {
    text-align: center;
  }
}
