@import url("~reset-css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,500&display=swap');
@import "./variables";
@import "./utils";
@import "./components";

body {
  // font-family: $base-font-family;
  font-family: 'Roboto', sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  // color: $base-font-color;
  

  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
  }

  h3 {
    font-size: $h3-font-size;
    line-height: 1.7rem;
  }

  h4 {
    font-size: $h4-font-size;
  }

  a {
    text-decoration: none;
    font-weight: normal;
    color: inherit;
  }

  p {
    line-height: 1.5rem;
  }

  #root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    & > div:first-of-type {
      flex: 1;
      background: #fafafa;
      margin: 75px 0 0;
      padding-bottom: 88px;
    }
  }

  .container {
    width: $container-width;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 $spacer;

    @media (max-width: $medium-screen) {
      width: 100%;
    }
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #ddd;
    
    ;
    width: 1px !important;
    height: 1px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    width: 1px !important;
    height: 1px;
  }

  table {
    width: 100%;
    margin: $spacer * 3 0;
    font-size: $small-font-size;

    th {
      color: $gray-dark;
      text-align: left;
      padding: $spacer $spacer / 2;
    }

    tr {
      color: $base-font-color;
      border-bottom: 1px solid $gray-light;
    }

    td {
      padding: $spacer $spacer / 2;
      vertical-align: middle;

      img {
        vertical-align: middle;
        margin-right: $spacer;
      }
    }
  }

  .checkbox {
    position: relative;
    display: inline;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0.4rem;
      top: 0.05rem;
      width: 0.3rem;
      height: 0.6rem;
      border: solid $white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      z-index: 1;
    }

    input {
      display: none;

      &:checked ~ span {
        &:before {
          background-color: $blue;
        }
      }
    }

    span {
      margin-left: $spacer * 2;

      &:before {
        background-color: $white;
        border-radius: 0.2rem;
        border: 1px solid $blue;
        content: "";
        display: block;
        height: 1rem;
        position: absolute;
        top: 0;
        width: 1rem;
      }
    }
  }
}

.form-error {
  color: red;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.css-69cngj{
  -webkit-box-shadow: -5px 0px 9px #7090b02e !important;
  box-shadow: -5px 0px 9px #7090b02e !important;
  padding: 19px 10px !important;
}
.ub-color_425A70{
  color: #94a3b2 !important;
}
.css-nil{
  // color: #94a3b2;
  // margin-top: 4px;
  
  svg{
    path{
    fill: #8e8e8f;
    }
  }
  .ub-h_14px{
    display: none;
  }
  .ub-h_33px{
    height: inherit;
  }
}
.ub-ln-ht_20px{
  color: #09253f !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}
.ub-color_425A70:active{
  color: #000 !important;
}
@media(max-width: 767px){
  .ub-min-h_248px{
    background-color: #00000069 !important;
    bottom: 0;
    width: 100%;
    left: 0px !important;
    top: 0px !important;
    border-radius: 0px !important;
.ub-w_240px {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
.ub-color_425A70{
  // color: #94a3b2 !important;
  
  svg{
    path{
    fill: #000;
    }
  }
  .ub-h_14px{
    display: none;
  }
}
}
.css-1ii3p2c{
  display: none !important;
      div{
        svg{
          path{
            fill: #0e2a43 !important;
          }
      }
      }
}
.hoVOPF button{
  padding: 19px 5px;
  box-shadow: -5px 0px 9px #7090b02e !important;
  -webkit-box-shadow: -5px 0px 9px #7090b02e !important;
}
.ub-pl_12px {
  padding-left: 9px;
}
.ub-color_1070ca{
  color: #09253F !important;
}
@media(max-width:540px){
  // #root {
    // & > div:first-of-type {
      // margin: 0 !important;
    // }
  // }
  .cookie-message{
    margin-right: initial !important;
  }
  .button-close{
    right: 5px !important;
  }
}
.Toastify{
  margin-top: 0px !important;
  margin-top: 0px !important;
}
// .main-menu__center .searchedlist .items p {
  // font-size: 14px !important;
  // color: #435365;
// }
.shop-address{
  color: #8899A9;
  font-size: 14px;
}
.ClearBtn{
  color: red;
  &:after{
    content: '';
    border-bottom: 1px solid #F5F5F5;
    width: 10px;
    display: block;

  }
}
.ApplyBtn{
  color: green;
}