@import "../../../globalStyles/scss/variables.scss";
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,500&display=swap');

body{
  background-color: #fcfcfd !important;
  font-family: 'Roboto', sans-serif !important;
}
// .container{
//   margin: 0px auto !important;
// }
#root{
  display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.header{
  padding: 0px 4px;
.Galleryheader{
  background-color: #fff;
  text-align: center;
  padding: 14.5px 0px;
  margin-top: 8px;
  position: relative;
  .galleryBackIcon{
    position: absolute;
    left: 20px;
    top: 16.4px;
    background-color: #00000057;
    height: 24px;
    border-radius: 50px;
    width: 24px;
    // padding: 3px 7px;
    cursor: pointer;
    svg{
      margin: 4px;
      path{
        fill: #fff;
      }
    }
  }
  h3{
    color: #09253F;
    font-size: 18px;
  }
}
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin-top: 4px;
  // padding: 0 4px;
  // margin-bottom: 50px;
}


/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 50%;
  // max-width: 50%;
  padding: 0 4px;
  columns: 2 auto;
  column-gap: 4px;
}

.column img {
  margin-top: 4px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}
.galleryCards{
  display: flex;
  justify-content: space-between;
  .SkeletonCardsbody{
    width: 49.5%;
    height: 250px;
  }
}
// Skeleton
.GallerySkeleton{
.Loadingskeleton{
  div:first-child{
    .Skeletoncards {
      .SkeletonCardsCont {
        .SkeletonCardsbody {
          margin-top: 10px;
        }
      }
    }
  }
  padding: 0rem 0rem 2rem;
}
.Skeletonbar{
  height: 20px;
  width: 18%;
  background-color: #EEF2F5;
  border-radius: 10px;
  margin: 27px 0 55px;
}
.Topboxes{
  display: flex;
  width: 100%;
}
.TopSkeletonboxes{
  margin-right: 20px;
}
.Skeletonbox{
  padding: 45px 10px;
  background-color: #EEF2F5;
  border-radius: 10px;
}
.SkeletonTitle{
  height: 10px;
  width: 93px;
  background-color: #EEF2F5;
  border-radius: 10px;
  margin-top: 10px;
}
.Skeletonbar, .Skeletonbox, .SkeletonTitle, .CardsTitle, .SkeletonCardsbody, .SkeletonCardtext, .SkeletonCardsbar, .ProductSkeletonBox{
  position: relative;
  overflow: hidden;
}
.Skeletonbar::before, .Skeletonbox::before, .SkeletonTitle::before, .CardsTitle::before, .SkeletonCardsbody::before, .SkeletonCardtext::before, .SkeletonCardsbar::before, .ProductSkeletonBox::before{
  content: '';
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right, transparent 0%, #e5e9ec 50%, transparent 100%);
  animation: load 1.4s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}
.Skeletoncards{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.CardsTitle{
  height: 20px;
  width: 35%;
  background-color: #EEF2F5;
  border-radius: 10px;
}
.SkeletonCardsCont{
  width: 33.3%;
}
.SkeletonCardsbody{
  width: 99%;
  height: 190px;
  background-color: #EEF2F5;
  border-radius: 10px;
  margin-top: 25px;
}
.SkeletonCardtext{
  height: 13px;
  width: 110px;
  background-color: #EEF2F5;
  border-radius: 10px;
  margin-top: 10px;
}
.SkeletonCardsbar{
  height: 25px;
  width: 20%;
  background-color: #EEF2F5;
  border-radius: 10px;
  margin-top: 20px;
}
}
@keyframes load {
  from {
      left: -150px;
  }
  to   {
      left: 100%;
  }
}
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    // max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    // max-width: 50%;
  }
}
@media(max-width: 540px){
  
  .column {
    column-gap: 2px;
  }

  .Galleryheader{
    margin-top: 0px !important;
  }
  .row{
    margin-top: -2px;
  }
  .header{
    padding: 0px;
  }
  .photoGallery{
    margin-top: 0px !important;
  }
  .galleryBackIcon{
    display: none;
  }
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 50%;
    // max-width: 50%;
    padding: 0 2px;
  }
  .column img {
    margin-top: 2px;
  }
  .GallerySkeleton{
  .SkeletonCardsbody{
    width: 97%;
    height: 95px !important;
    margin-top: 10px;
  }
  .SkeletonCardsCont{
    display: block;
  }
  .Skeletoncards>div:nth-child(n+2) {
    display: block; 
  } 
}
  .mt-0{
    margin-top: 0px !important;
  }
}
.jSXxmP{
  background-color: transparent;
  .image-gallery-slide:focus{
      outline: none;
    }
  .image-gallery-image:focus{
    outline: none;
  }
  }
.kznkL{
  position: relative;
}
.GalleryModal{
  position: relative;
.jlQsbh{
  position: absolute;
  z-index: 2;
  top: -95px;
  left: -10px;
  background-color: #737373;
  svg{
    position: relative;
    path{
      fill: #fff;
    }
  }
}

.ModalContent{
  position: fixed;
  top: 86.5%;
  left: 16.9%;
  z-index: 9999;
  p, .modalLink{
    color: #fff;
    font-size: 10px;
  }
}
}
.modalList{
  li{
    position: relative;
    padding-left: 25px;
    margin-top: 3px;
      a{
        font-size: 12px !important;
      }
    img{
      position: absolute;
      left: 0;
      vertical-align: middle;
      top: 0px;
      height: 18px;
      width: 18px;
    }
  }
}
@media(min-width: 768px){
  .ril__inner{
    .ril__image{
      height: 70vh;
      width: 67.4%;
    }
  }
  }

  @media(max-width: 767px){
    .ModalContent{
      left: 10px !important;
      p{
        color: #6d7b88 !important;
        font-size: 10px !important;
      }
      .modalLink{
        font-size: 10px;;
      }
    }
    // .ril__inner{
    //   .ril__image{
    //     height: 200px;
    //     width: 95%;
    //     transform: initial !important;
    //   }
    // }
  }