@import "../../../globalStyles/scss/variables.scss";

.password-reset-form {

.reset-info{
  color: #6e6f6f;
  font-size: 14px;
}
  .input {
    margin: $spacer 0 $spacer * 2;
    // border-radius: 4px;
    // background: #fff;
    // border: 1px solid #cccccc78;
  }

  &__button {
    text-align: center;
    margin: $spacer * 2 0;
  }

  .submitBtn{
    width: 100%;
    border-radius: 4px;
    background:#f74b2c;
    color: #fff;
    text-transform: capitalize;
    box-shadow: none !important;
    span{
      color: #fff;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
  .submitBtn:hover{
    background: #f74b2c;
  }
}
