@import "../../../globalStyles/scss/variables.scss";

.not-found-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: $spacer * 4 $spacer;
  background: #140823 !important;
  margin: 3.5rem 0 -2rem !important;
  margin-bottom: -55px !important;

  &__header {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 2rem;
    img {
      width: 100%;
    }
    @media (max-width: $small-screen) {
      font-size: 9rem;
    }
  }

  &__ruler {
    background: $blue;
    min-width: $spacer * 10;
    height: 2px;
    margin-top: $spacer;
    margin-bottom: $spacer * 3;
    display: none;
  }

  &__message {
    b{
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      margin: 0 0 $spacer;
      display: block;
    }
    p{
      color: #fff;
    }
    @media (max-width: $small-screen) {
      p {
        display: inline;
      }
    }
  }

  &__button {
    margin: $spacer * 2 0;
    min-width: 88%;
    display: none;
  }
}
