@import "../../../globalStyles/scss/variables.scss";

.product-description {
  margin: 0 0 2rem;
  .ProductRating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Nos{
      display: flex;
      font-weight: 700;
      .star{
        margin: 0px 10px;
        svg{
          path{
            fill: #FBCE2E;
          }
        }
      }
      .Close{
        color: #8799A9 !important;
        font-weight: normal;
      }
    }
  }
  .CategoryPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    .LocationDistance{
      display: flex;
      align-items: center;
      background: #FDECD1;
      border-radius: 3px;
      padding: 0px 2px;
      svg{
        margin: 0 0.5rem 0 0;
        path{
          fill: #F39721;      
      }
      }
      .Location{
        font-size: 10px;
        color: #F39721;
      }
    }
  }
  .Tags{
    display: flex;
    margin-top: 10px;
    .SubTags{
    margin-right: 10px;
    font-size: 10px;
    background-color: #F7F7F8;
    border-radius: 3px;
    padding: 0px 4px;
    color: #99A9B4;
    }
  }
  .desc{
    width: 50%;
    margin-top: 10px;
  }
  .Instore{
    display: flex;
    align-items: center;
    background: #F6FCF7;
    border-radius: 3px;
    padding: 0px 2px;
    width: 5%;
    justify-content: center;
    cursor: pointer;
    svg{
      margin-right: 8px;
      path{
        fill: #68C965;
      }
    }
    span{
      font-size: 10px;
      color: #68C965;;
    }
  }
  .CategoryTitle{
    font-weight: 600;
    font-size: 16px;
    color: #000;
    text-align: left;
    margin: 10px 0px 8px;
    font-size: 20px;

  }
  
  .cat-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .dot{
      width: 2px;
      height: 2px;
      display: block;
      background: #666;
      margin: 0 0.3rem 0 0rem;
    }

  p {
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    color: #777878;
    line-height: normal;
  }
  }

.likes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .nos{
    font-size: 12px;
    color: #ff4b13;
    text-align: left;
  }
  .stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0.5rem;
    svg{
      margin: 0 1px;
      fill: #ff4b13 !important;
    }
    svg:last-child {
     fill: #ffede7;
    }
  }
  .tl{
    color: #666;
    text-align: left;
    font-size: 12px;
  }
}

.desc {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #777878;
  line-height: normal;
}

  &__about {
    margin: $spacer * 2 0;

    h4 {
      font-weight: $bold-font-weight;
      color: $gray;
      border-bottom: 1px solid $gray;
      padding-bottom: $spacer / 2;
      margin-bottom: $spacer / 2;
    }

    p {
      font-size: $small-font-size;
    }

    img {
      max-width: 100%;
    }
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__action {
    min-height: 49px;

    &--fade {
      $animation-speed: 200ms;
      background-color: $turquoise-dark;

      &-enter {
        opacity: 0;

        @at-root #{&}#{&}-active {
          opacity: 1;
          transition: opacity $animation-speed ease-in;
        }
      }

      &-leave {
        opacity: 1;

        @at-root #{&}#{&}-active {
          opacity: 0;
          display: none;
          transition: opacity $animation-speed ease-out;
        }
      }
    }
  }

  &__selected-attributes {
    font-size: $small-font-size;
    margin-top: 20px;

    > span:first-child {
      color: $gray-dark;
    }
  }

  &__variant-picker {
    display: grid;
    margin-top: 20px;

    .react-select-wrapper,
    .input {
      width: 50%;
      margin-bottom: 1rem;
    }

    &__quantity {
      display: flex;

      .input {
        margin-left: $spacer * 2;
        max-width: 6rem;

        .input__field {
          max-width: 100%;
        }
      }
    }
  }

  &__error-message {
    color: $message-error-color;
  }

  &__quantity-input {
    margin-top: 20px;
    padding-top: 20px;
  }
}
