@import "../../../../globalStyles/scss/variables.scss";

.password-reset {
  width: 25rem;
  max-width: 100vw;

  .overlay__header {
    height: 4.5rem;
  }
  
  &__content {
    padding: $spacer;
  }
}
